@import "tailwindcss";

/* Base */
body {
  color: var(--color-chocolate);
  font:
    400 18px/1.4 Inter,
    serif;
  background: url("/bg.png") no-repeat center center;
  background-size: 110% auto;
}
@media screen and (min-width: 1921px) {
  body {
    background-size: cover;
    font-size: 25px;
  }
}
::selection {
  background-color: var(--color-chocolate);
  color: var(--color-white);
}

p {
  margin: 10px 0 15px;
}

ol,
ul {
  margin: 20px 0;
  padding-left: 30px;
}
ol {
  list-style: decimal;
}

section a {
  color: var(--color-accent);
}

@media screen and (max-width: 639px) {
  body {
    font-size: 16px;
  }
  p {
    margin: 7px 0 10px;
  }
  ol,
  ul {
    margin: 12px 0;
    padding-left: 20px;
  }
}

@theme {
  --color-chocolate: rgba(101, 67, 33);
  --color-background: #f9f9f9;
  --color-accent: oklch(55.3% 0.195 38.402);
  --font-merriweather: var(--font-merriweather);
  --breakpoint-xl: 1280px;
}

/* Fonts */
.font-merriweather {
  font-family: var(--font-merriweather);
}

/* Custom classes */
.flex-center {
  @apply flex items-center justify-center;
}
.flex-center--desk {
  @apply sm:flex sm:items-center sm:justify-center;
}
.shadow-big {
  @apply sm:shadow-[15px_15px_0] shadow-chocolate/80;
}
.text-section {
  @apply max-w-200 mx-auto;
}
.wrapper {
  @apply bg-background rounded-lg h-full;
}
