@import "tailwindcss";

/* Base */
body {
  color: var(--color-chocolate);
  font:
    400 18px/1.4 Inter,
    serif;
  background: url("/bg.png") no-repeat center center;
  background-size: 110% auto;
}
::selection {
  background-color: var(--color-chocolate);
  color: var(--color-white);
}

h1 {
  font-family: var(--font-merriweather);
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

p {
  margin: 10px 0 15px;
}

ol,
ul {
  margin: 20px 0;
  padding-left: 30px;
}
ol {
  list-style: decimal;
}

@theme {
  --color-chocolate: rgba(101, 67, 33);
  --color-background: #f9f9f9;
  --color-accent: oklch(55.3% 0.195 38.402);
  --font-cherry-swash: var(--font-cherry-swash);
  --font-lora: var(--font-lora);
}

/* Fonts */
.font-merriweather {
  font-family: var(--font-merriweather);
}
.font-lora {
  font-family: var(--font-lora);
}

/* Custom classes */
.flex-center {
  @apply flex items-center justify-center;
}
.shadow-big {
  @apply shadow-[15px_15px_0] shadow-chocolate/80;
}
.wrapper {
  @apply bg-background rounded-lg;
}
