@import "tailwindcss";

/* Base */
body {
  color: var(--color-chocolate);
  font:
    400 18px/1.4 Inter,
    serif;
  background: url("/bg.png") no-repeat center center;
  background-size: 110% auto;
}
@media screen and (min-width: 1921px) {
  body {
    background-size: cover;
  }
}

::selection {
  background-color: var(--color-chocolate);
  color: var(--color-white);
}

p {
  margin: 10px 0 15px;
}

ol,
ul {
  margin: 20px 0;
  padding-left: 30px;
}
ol {
  list-style: decimal;
}

section {
  max-width: 800px;
  width: 100%;
}

section a {
  color: var(--color-accent);
}

@theme {
  --color-chocolate: rgba(101, 67, 33);
  --color-background: #f9f9f9;
  --color-accent: oklch(55.3% 0.195 38.402);
  --font-cherry-swash: var(--font-cherry-swash);
  --font-lora: var(--font-lora);
}

/* Fonts */
.font-merriweather {
  font-family: var(--font-merriweather);
}
.font-lora {
  font-family: var(--font-lora);
}

/* Custom classes */
.flex-center {
  @apply flex items-center justify-center;
}
.flex-center--desk {
  @apply sm:flex sm:items-center sm:justify-center;
}
.shadow-big {
  @apply sm:shadow-[15px_15px_0] shadow-chocolate/80;
}
.wrapper {
  @apply bg-background rounded-lg h-full;
}
