@import "tailwindcss";

/* Base */
body {
  color: var(--color-chocolate);
  font-family: Inter, serif;
}
::selection {
  background-color: var(--color-chocolate);
  color: var(--color-white);
}
@theme {
  --color-chocolate: rgba(101, 67, 33);
  --color-background: #fffefd;
  --font-cherry-swash: var(--font-cherry-swash);
  --font-lora: var(--font-lora);
}

/* Fonts */
.font-cherry {
  font-family: var(--font-cherry-swash);
}
.font-lora {
  font-family: var(--font-lora);
}

/* Custom classes */
.flex-center {
  @apply flex items-center justify-center;
}
.shadow-big {
  @apply shadow-[15px_15px_0] shadow-chocolate/80;
}
.wrapper {
  @apply bg-background rounded-lg;
}
