@import "tailwindcss";

body {
  color: var(--color-chocolate);
  font-family: Inter, serif;
}
::selection {
  background-color: var(--color-chocolate);
  color: var(--color-white);
}
/* f */
@theme {
  --color-chocolate: rgba(101, 67, 33);
  --color-background: #fffefd;
}

.flex-center {
  @apply flex items-center justify-center;
}
.shadow-big {
  @apply shadow-[15px_15px_0] shadow-chocolate/80;
}
.wrapper {
  @apply bg-background rounded-lg;
}
